@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

*{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    line-height: 3em;
    color: #ffffff;
    background:#000000;
    margin: 0;
    padding: 0;
}

/* Nav bar */


ul{
    margin:0;
    padding:0;
  }
  
  /* Header **/
  header{
    
    color:#ffffff;
    padding-top:30px;
    min-height:100px;
    border-bottom:#fafafa 3px solid;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:#00ffdd;
    font-weight:bold;
  }
  
  header a:hover{
    color:#0dffc2;
    font-weight:bold;
  }

  #head{
      padding-left: 20px;
  }


.form-wrap{
    color: azure;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100%;
}


/* CARDs */

h2{
  color: #fff;
}

.card {
  position: relative;
  background: #fff;
  width: 400px;
  height: 500px;
  margin: 0 auto;
}

.card .content {
  width: 400px;
  padding: 30px;
  box-sizing: border-box;
}

.card .content a {
  display: inline-block;
  margin: 10px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  
  color: #ffffff;
  font-weight: 600;

}

.card .sliderText {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
}

.card .sliderText h3 {
  color: #fff;
  font-size: 3em;
  padding: 50px;
}

.swiper-slide{
  width: 400px;
}

.swiper-slide:nth-child(1) .sliderText {
  background: rgb(241, 129, 129);
}

.swiper-slide:nth-child(1) .card .content a {
  border: 2px solid #5f1e1e;
}

.swiper-slide:nth-child(2) .sliderText {
  background: rgb(129, 241, 148);
}

.swiper-slide:nth-child(2) .card .content a {
  border: 2px solid #1e5f23;
}

.swiper-slide:nth-child(3) .sliderText {
  background: rgb(168, 129, 241);
}

.swiper-slide:nth-child(3) .card .content a {
  border: 2px solid #5f1e3c;
}

.Content #read1{
  width: 40%;
  margin-left: 100px;
}
.Content #read2{
  width: 40%;
  margin-left: 650px;
}
.Content #read3{
  width: 40%;
  margin-left: 200px;
}

#img1{
  float: right;
  margin-right: 200px;
}

#img2{
  float: left;
  margin-left: 100px;
  margin-top: 100px;
  width: 20%;
}

#img3{
  float: right;
  margin-right: 200px;
  width: 20%;
  margin-top: 200px;
}

.Content h1{
  color: #0dffc2;
}

footer{
  border: 10px #ffffff;

}

footer p{
  color: #0dffc2;
}

